<!doctype html>
{% load static %}
<html lang="utf-8">
    <head>
        <title>오현택</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'introduction.css' %}" />
    </head>
    <body>
        <div class="longtext">
            <h2>안녕하세요!
                <br>저는 오현택입니다!
            </h2>
        </div>
        <div class="text">
                <ul class="list">
                    <div class="li">
                        <a href="/aboutMe">
                            <h4>About me</h4>
                        </a>
                    </div>
                    <div class="li">
                        <a href="https://github.com/HyunTaek5">
                            <h4>What I have done</h4>
                        </a>
                    </div>
                </ul>
            </div>
    </body>
<footer>
    <p>Copyright © 2021 HyunTaek Oh. All rights reserved.</p>
    <address>For more information. Contact on oht1312@gmail.com</address>
</footer>
</html>